venv
__pycache__/
**/__pycache__/
*.pyc
.cache/
cache/
models/
*.joblib
*.meta
.env
.git
.gitignore
*.ipynb
.DS_Store

# Exclude large data files only
data/cs-training.csv
data/cs-test.csv
data/GiveMeSomeCredit.zip
data/sampleEntry.csv

